.galleryList {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 26px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.galleryCard {
    flex: 1 1 300px;
    max-width: 300px;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}