.loadButton {
    margin-top: 26px;
    margin-bottom: 26px;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: rgb(59, 139, 173);
    color: #ffffff;
}

.loadButton:hover {
    background-color: rgb(46, 126, 160);
}